<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lbxq.screen"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="lsposedminversion" android:value="1.8.6" />
    </application>
</manifest>
