<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="ScreenModule">
        <!-- LSPosed/Xposed 模块识别关键配置 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Empty LSPosed Module" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <!-- 适配LSPosed 2.0+ 额外标识 -->
        <meta-data
            android:name="lsposedmodule"
            android:value="true" />
    </application>
</manifest>
